{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subspecialities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subSpeciality in subSpecialities %}
            <tr>
                <td><a href="{{ path('subspeciality_show', { 'id': subSpeciality.id }) }}">{{ subSpeciality.id }}</a></td>
                <td>{{ subSpeciality.description }}</td>
                <td>{% if subSpeciality.duration %}{{ subSpeciality.duration|date('H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subspeciality_show', { 'id': subSpeciality.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('subspeciality_edit', { 'id': subSpeciality.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subspeciality_new') }}">Create a new subSpeciality</a>
        </li>
    </ul>
{% endblock %}
